<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} MiPega.cl {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gonzalo Barra, Mario Muñoz,Yerko Palma"/>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <!-- Le styles -->
    <link href="{{STATIC_URL}}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}img/mipegalogo.png" rel="shortcut icon"/>
    <link href="{{STATIC_URL}}bootstrap/dist/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}css/bootstrap-glyphicons.css" rel="stylesheet"/>
    <!--<link href="{{STATIC_URL}}css/style.less" rel="stylesheet/less" type="text/css"/>--> 
    <link href="{{STATIC_URL}}css/slidingForm.css" rel="stylesheet" type="text/css" media="screen"/> 
</head>

<body>
    <div id = "warning">  
        <!--[if IE 6]>
        <p>
            La versión de Internet Explorer que est&aacute;s utilizando
            no está actualizada. <br />
            Este sitio funcionar&aacute; mejor si actualizas tu navegador.
            <a href="http://www.microsoft.com/latam/windows/internet-explorer/">Actualizar Internet Explorer</a>
        </p>
        <![endif]-->
        <noscript>
            <p>
                Es necesario que tengas activado Javascript en su navegador 
                para utilizar todas las funciones de este sitio.
                <a href="#">
                    &iquest;C&oacute;mo activar Javascript?
                </a>
            </p>
        </noscript>
    </div><!-- #warning -->
    <!--<div id="msg">
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>--><!-- #fixed_msg-->
        

    <div class="header">
        <img src="{{STATIC_URL}}img/mipegalogo.png" id="logo">
        <h1><a href="/">Mi Pega.cl</a></h1>
        <div class="sesion-buttons">
            <a data-toggle="modal" href="#myModal">Ingresar</a>
            <a href="{% url 'vista_registro' %}">Registrarse</a>
        </div>
    </div><!-- #header -->

    
            {% block contenido %}
            {% endblock %}
            
    <!-- #content -->

    <div class="footer row">        
        <div class="col-lg-6 first">
            <ul>
                <li><a href="#">Perfil de cuenta</a></li>
                <li>&#124;</li>
                <li><a href="#">Busqueda</a></li>
                <li>&#124;</li>
                <li><a href="#">Feedback</a></li>
            </ul>
        </div>
        
        <div class="col-lg-6 contacto">
            <ul>
                <li><span class="glyphicon glyphicon-envelope"><p><b>contacto@mail.cl</b></p></span></li>
                <li><span class="glyphicon glyphicon-phone"></span><p><b>(+56) 9 1234567</b></p></li>
                <li><span class="glyphicon glyphicon-map-marker"></span><p><b>Alameda #123</b></p></li>
            </ul>
        </div>
    </div><!-- #footer -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/plugins.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
    <!--<script type="text/javascript" src="{{STATIC_URL}}js/less-1.3.3.min.js"></script>-->
    <script type="text/javascript" src="{{STATIC_URL}}js/sliding.form.js"></script>
    <script src="{{STATIC_URL}}js/more.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.noty.js"></script>
    {% block SCRIPT %}
    
        <script type="text/javascript">
            {% if messages %}
                {% for message in messages %}
                    noty({
                        text: '{{message}}',
                        type: {% if message.tags %}'{{message.tags}}'{% else %}'alert'{% endif %},
                        dismissQueue: true,
                        layout: 'top',
                        theme: 'defaultTheme'
                    });
                {% endfor %}
            {% endif %}
        </script>
    
        
    {% endblock %}
</body>
</html>
