.profile-content{
    #edit-profile-form{

        height: 440px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 104%;
        
        .block-form-pane{
            width: 95%;
        }
    }
}
