@charset "utf-8";
/**
 * @author: Gonzalo Barra
 */

/* <YUI RESET> */
html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}:focus{outline:none}
/* </YUI RESET>*/


/* font-size:
  
  10px = 77%        17px = 131%       24px = 182%
  11px = 85%        18px = 138.5%     25px = 189%
  12px = 93%        19px = 146.5%     26px = 197%
  13px = 100%       20px = 153.9%
  14px = 108%       21px = 161.6%
  15px = 116%       22px = 167%
  16px = 123.1%     23px = 174%
*/

/******************************************************************************/
/*                         Estilos Generales                                  */
/******************************************************************************/

html{
}

body {
    /*background: #eee;*/
    /*font:13px/1.231 'Century Gothic', 'Lucida Grande', Helvetica, Verdana, Arial, sans-serif;*/
    background-image: url("../img/fondo.jpeg")
}

h1{ font-size: 153.9% }
h2{ font-size: 138.5% }
h3{ font-size: 131% }
h4{ font-size: 123.1% }
h5{ font-size: 116% }
h6{ font-size: 108% } 

a                          { outline:none }
a:link                     {}
a:hover                    {}
a:visited                  {}

input, select,
button, textarea, button   { font: 99% Helvetica, Verdana, sans-serif }
form                       {}
fieldset                   {}
legend                     {}    
label                      {}

strong                     { font-weight: bolder }
i, cite, em, var, address  { font-style: italic }
kbd, samp                  { font-family: monospace }
pre                        { white-space: pre }
blockquote                 { margin-left: 40px; margin-right: 40px }
small, sub, sup            { font-size: 77% }
sub                        { vertical-align: sub }
sup                        { vertical-align: super }
ins                        { text-decoration: underline }
del                        { text-decoration: line-through }

table                      { display: table; border-spacing: 2px;  }
th                         { font-weight: bolder; text-align: center }
/*table, th, td              { border: 1px solid #000 }*/
th, td                     { padding:2px 10px }

/******************************************************************************/
/*                 Estilos Frecuentemente Utilizados                          */
/******************************************************************************/
.clear         { clear:both   }
.clearleft     { clear: left  }
.clearright    { clear: right }

.spacer1        { height:1px   }
.spacer5        { height:5px   }
.spacer10       { height:10px  }
.spacer20       { height:20px  }
.spacer30       { height:30px  }
.spacer40       { height:40px  }
.spacer50       { height:50px  }
.spacer100      { height:105px }

.box10x10       { height:10px; width:10px }
.box20x20       { height:20px; width:20px }
.box30x30       { height:30px; width:30px }
.box40x40       { height:40px; width:40px }
.box50x50       { height:50px; width:50px }

tr.altrow       { background: #eee }

ul.circle li,
ol.circle li    { list-style-type: circle; margin-left:15px;}
.justify        { text-align:justify }
.underline      { text-decoration: underline }

/******************************************************************************/
/*    Alerta para navegadores desactualizados, o javascript no activado.      */
/******************************************************************************/
div#warning p {
  text-align: center;
  background: #ffffbb;
  border: 1px solid #ffcc00;
  padding: 10px;
}

/******************************************************************************/
/*                            Estilos del sitio                               */
/******************************************************************************/

#footer-wrapper{
  /*background-image: url("../img/footer.jpg");*/
  background-color: #333;
  background-repeat: repeat-x;
}

#map-canvas{
  height: 500px;
  width: 650px;
  float:left;
  margin-left: 50px;
}
/******************************************************************************/
/*                            Estilos de texto                                */
/******************************************************************************/

.texto-plomo{
  color: #999;
}

.texto-just{
  text-align: justify;
}

.texto-header{
  font-size: 50px;
}

.texto-footer{
  font-size: 30px;
}
/******************************************************************************/
/*                            Estilos de padding                              */
/******************************************************************************/

.pad-all{
  padding: 10px;
}

.pad-content{
  padding: 30px;
}

.pad-right{
  padding-right: 15px;
}

.pad-top-bot{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-bot{
  padding-bottom: 5px;
}

.pad-header{
  padding-bottom: 20px;
}

.pad-top{
  padding-top: 20px;
}

/******************************************************************************/
/*                            Estilos de margin                               */
/******************************************************************************/

.mad-footer-1{
  margin: 20px;
  border-right-style: solid;
  border-width: 1px; 
  border-right-color: #999;
}

.mad-footer-2{
  margin: 20px;
}

/******************************************************************************/
/*                            Estilos de columna                              */
/******************************************************************************/

.columna-trans{
  background-color: rgba(153,153,153,0.9);
}

.columna-form{
  width: 400px;
  float:right;
  margin-right: 150px;
}