/*          MIXINS          */
/*mixins*/
/*          FONTS           */
@font-face {
  font-family: marcelle;
  src: url('../fonts/marcelle/Marcsc___.ttf');
}
@font-face {
  font-family: agilis;
  src: url('../fonts/agilis/webfonts/agilis.ttf');
}
@font-face {
  font-family: times_new_yorker;
  src: url('../fonts/times_new_yorker/times_new_yorker.ttf');
}
@font-face {
  font-family: fail;
  src: url('../fonts/fail/FAIL____.ttf');
}
@font-face {
  font-family: pointy;
  src: url('../fonts/pointy/pointy_demo.ttf');
}
@font-face {
  font-family: santos-dumont;
  src: url('../fonts/billy-argel_santos-dumont/SANTO___.ttf');
}
@font-face {
  font-family: tequila-sunrise;
  src: url('../fonts/tequilla_sunrise/TequillaSunrise.ttf');
}
/*          TEMPLATE        */
p.help-block {
  clear: both;
}
body {
  background-color: rgba(230, 230, 230, 0.9);
  overflow-x: hidden;
}
.header {
  -o-box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  -moz-box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  position: absolute;
  top: 0px;
  width: 100%;
  display: inline;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 150px;
}
.header h1 {
  position: absolute;
  left: 200px;
  top: 0px;
  margin-top: 40px;
  margin-right: 150px;
  font-family: pointy;
  font-size: 55px;
}
.header h1 a:hover,
.header h1 a:visited,
.header h1 a:visited,
.header h1 a:link {
  text-decoration: none;
  color: #444444;
}
.header #logo {
  display: inline;
  margin-left: 50px;
}
.header .sesion-buttons {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 50px;
  margin-right: 50px;
}
.header .sesion-buttons #session_links {
  clear: both;
}
.header .sesion-buttons a {
  margin-left: 20px;
}
.header .sesion-buttons h5 {
  float: right;
}
.body {
  position: relative;
  top: 200px;
  display: inline-block;
}
.body .jumbotron {
  position: relative;
  -o-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -moz-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 20px;
}
.body .jumbotron h1 {
  font-size: 45px;
}
.body .busqueda {
  position: relative;
  margin-left: 20px;
  -o-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -moz-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  background-color: rgba(242, 242, 242, 0.9);
  padding: 10px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.body .busqueda .radio {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.index-select + .chosen-container {
  width: 100% !important;
}
.row {
  margin: 0px;
}
.footer {
  position: relative;
  bottom: 0px;
  margin-top: 170px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.9);
  -o-box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
  -webkit-box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
  box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
}
.footer .first {
  padding-left: 50px;
}
.footer .first ul {
  float: left;
  list-style: none;
}
.footer .first ul li {
  float: left;
  margin-right: 15px;
  margin-top: 20px;
  color: #2a6496;
}
.footer .contacto li {
  background-color: rgba(242, 242, 242, 0.9);
  font-weight: 400;
  font-height: 1;
  width: 25px;
  padding: 5px;
  margin: 8px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -o-box-shadow: ;
  -moz-box-shadow: ;
  -webkit-box-shadow: ;
  box-shadow: ;
  transition: ;
  -moz-transition: ;
  /* Firefox 4 */

  -webkit-transition: ;
  /* Safari and Chrome */

  -o-transition: ;
  /* Opera */
  max-height: 30px;
  float: left;
}
.footer .contacto li:hover {
  width: 200px;
}
.footer .contacto li p {
  display: none;
  position: relative;
  padding-left: 40px;
  top: -20px;
}
.footer .col-lg-4 ul {
  margin-top: 20px;
  list-style: none;
  bottom: 0px;
}
.form-control {
  display: inline-block;
  max-width: 200px;
  margin: 5px 0px;
}
#indice {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #999999;
  margin-right: 25px;
  color: #2a6496;
}
.result {
  width: 100%;
  height: 0px;
  margin-top: 210px;
  background-color: #999999;
  overflow-y: scroll;
  margin-bottom: 30px;
}
.result .media-object {
  width: 64px;
  height: 64px;
}
.result .media-heading a {
  color: #2a6496;
}
ul {
  list-style: none;
}
/*          LOGIN           */
#login-form {
  margin-top: 200px;
}
#login-form input[type="submit"] {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}
/*          PERFIL          */
#login-form_ {
  position: absolute;
  z-index: 12;
  height: 90%;
  top: 150px;
}
.profile-nav {
  max-width: 195px;
  height: 460px;
  display: inline-block;
  background-color: rgba(66, 139, 202, 0.2);
  -o-box-shadow: 4px 0px 5px -2px #888888;
  -moz-box-shadow: 4px 0px 5px -2px #888888;
  -webkit-box-shadow: 4px 0px 5px -2px #888888;
  box-shadow: 4px 0px 5px -2px #888888;
}
.profile-nav li {
  overflow: auto;
  margin: 5px;
  min-width: 200px;
}
.profile-nav li a {
  width: 150px;
}
.profile-nav li a.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: #444444;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 5px 12px;
}
.profile-nav li a.btn-primary:hover, .profile-nav li a.btn-primary#selected-option {
  background-color: #428bca;
  color: #fff;
  border-color: #428bca;
}
.profile-content {
  width: 80%;
  height: 270px;
  margin-top: 170px;
  margin-left: 210px;
}
.arrow-right, .arrow-right2 {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  display: inline-block;
  border-left: 16px solid #428bca;
  position: absolute;
}
.rectangle, .rectangle2 {
  background-color: #428bca;
  height: 32px;
  width: 50px;
  position: absolute;
  left: 0px;
}
/*          REGISTRO        */
div#aviso {
  position: fixed;
  width: 200px;
  height: 350px;
  top: 170px;
  left: 5px;
  padding: 5px;
  background-color: rgba(240, 229, 108, 0.8);
  overflow-y: scroll;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -o-box-shadow: 1px 1px 8px 0px #000000;
  -moz-box-shadow: 1px 1px 8px 0px #000000;
  -webkit-box-shadow: 1px 1px 8px 0px #000000;
  box-shadow: 1px 1px 8px 0px #000000;
}
input[value="Registrar"] {
  margin: 5px;
  display: none;
}
.alert {
  margin-top: 150px;
}
#content {
  margin-top: 0px;
}
#controls a {
  margin: 5px;
}
.fast-search-container {
  margin-right: 5.7%;
  width: 35.9%;
}
.fast-search-container .fast-search {
  margin-bottom: 10px;
  border: solid 5px #999999;
  padding: 20px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#session_pane .inline_group,
#study_pane .inline_group,
#other_pane .inline_group,
#last .inline_group,
#other_pane2 .inline_group {
  display: inline-block;
}
#session_pane h1,
#study_pane h1,
#other_pane h1,
#last h1,
#other_pane2 h1,
#session_pane h2,
#study_pane h2,
#other_pane h2,
#last h2,
#other_pane2 h2 {
  /*width: 240px;*/

  text-align: center;
  background-color: #428bca;
  border-color: #428bca;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  font-size: 30px;
  position: absolute;
  -o-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  left: 60px;
  z-index: 10;
}
#session_pane h1#seccion_personal,
#study_pane h1#seccion_personal,
#other_pane h1#seccion_personal,
#last h1#seccion_personal,
#other_pane2 h1#seccion_personal,
#session_pane h2#seccion_personal,
#study_pane h2#seccion_personal,
#other_pane h2#seccion_personal,
#last h2#seccion_personal,
#other_pane2 h2#seccion_personal {
  right: 400px;
  left: initial;
}
#session_pane h2,
#study_pane h2,
#other_pane h2,
#last h2,
#other_pane2 h2 {
  width: 390px;
}
#session_pane h2#seccion_superiores,
#study_pane h2#seccion_superiores,
#other_pane h2#seccion_superiores,
#last h2#seccion_superiores,
#other_pane2 h2#seccion_superiores {
  right: 250px;
  left: initial;
}
#session_pane #superiores #escolar1 div,
#study_pane #superiores #escolar1 div,
#other_pane #superiores #escolar1 div,
#last #superiores #escolar1 div,
#other_pane2 #superiores #escolar1 div {
  width: 30%;
}
#session_pane #superiores #postgrados,
#study_pane #superiores #postgrados,
#other_pane #superiores #postgrados,
#last #superiores #postgrados,
#other_pane2 #superiores #postgrados {
  display: inline-block;
  width: 100%;
}
#session_pane #superiores #postgrados .checkbox,
#study_pane #superiores #postgrados .checkbox,
#other_pane #superiores #postgrados .checkbox,
#last #superiores #postgrados .checkbox,
#other_pane2 #superiores #postgrados .checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 50%;
}
#session_pane #superiores #postgrados .checkbox label,
#study_pane #superiores #postgrados .checkbox label,
#other_pane #superiores #postgrados .checkbox label,
#last #superiores #postgrados .checkbox label,
#other_pane2 #superiores #postgrados .checkbox label {
  width: 50%;
}
#session_pane #superiores #postgrados .checkbox input[type="checkbox"],
#study_pane #superiores #postgrados .checkbox input[type="checkbox"],
#other_pane #superiores #postgrados .checkbox input[type="checkbox"],
#last #superiores #postgrados .checkbox input[type="checkbox"],
#other_pane2 #superiores #postgrados .checkbox input[type="checkbox"] {
  margin: 5px;
  padding: 5px;
  width: 15px;
  height: 15px;
}
#session_pane .special-form-pane,
#study_pane .special-form-pane,
#other_pane .special-form-pane,
#last .special-form-pane,
#other_pane2 .special-form-pane {
  background-color: rgba(66, 139, 202, 0.2);
  padding: 10px;
  padding-top: 20px;
  border-style: solid;
  border-radius: 3px;
  border-color: #717680;
  border-width: 5px;
  overflow: auto;
  width: 50%;
  display: inline-block;
  margin: 30px;
  margin-top: 60px;
}
#session_pane .special-form-pane#experiencias .inline_group,
#study_pane .special-form-pane#experiencias .inline_group,
#other_pane .special-form-pane#experiencias .inline_group,
#last .special-form-pane#experiencias .inline_group,
#other_pane2 .special-form-pane#experiencias .inline_group {
  width: 30%;
}
#session_pane .special-form-pane#experiencias .inline_group select,
#study_pane .special-form-pane#experiencias .inline_group select,
#other_pane .special-form-pane#experiencias .inline_group select,
#last .special-form-pane#experiencias .inline_group select,
#other_pane2 .special-form-pane#experiencias .inline_group select {
  width: 100%;
}
#session_pane .special-form-pane#experiencias #escolar2,
#study_pane .special-form-pane#experiencias #escolar2,
#other_pane .special-form-pane#experiencias #escolar2,
#last .special-form-pane#experiencias #escolar2,
#other_pane2 .special-form-pane#experiencias #escolar2 {
  width: 100%;
  padding: 0px;
}
#session_pane .special-form-pane#experiencias #escolar2 .form_group,
#study_pane .special-form-pane#experiencias #escolar2 .form_group,
#other_pane .special-form-pane#experiencias #escolar2 .form_group,
#last .special-form-pane#experiencias #escolar2 .form_group,
#other_pane2 .special-form-pane#experiencias #escolar2 .form_group {
  padding: 0px;
  width: inherit;
}
#session_pane .special-form-pane .plus-button,
#study_pane .special-form-pane .plus-button,
#other_pane .special-form-pane .plus-button,
#last .special-form-pane .plus-button,
#other_pane2 .special-form-pane .plus-button {
  padding: 1px;
  width: 35px;
  height: 35px;
  margin-left: 6%;
  margin-bottom: 3%;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#session_pane .special-form-pane .plus-button span,
#study_pane .special-form-pane .plus-button span,
#other_pane .special-form-pane .plus-button span,
#last .special-form-pane .plus-button span,
#other_pane2 .special-form-pane .plus-button span {
  line-height: 1.7;
  font-size: 22px;
}
#session_pane .special-form-pane .hidden-form,
#study_pane .special-form-pane .hidden-form,
#other_pane .special-form-pane .hidden-form,
#last .special-form-pane .hidden-form,
#other_pane2 .special-form-pane .hidden-form {
  display: none;
}
#session_pane .special-form-pane#habilidades .inline_group,
#study_pane .special-form-pane#habilidades .inline_group,
#other_pane .special-form-pane#habilidades .inline_group,
#last .special-form-pane#habilidades .inline_group,
#other_pane2 .special-form-pane#habilidades .inline_group {
  width: 200px;
  margin: 0px 40px;
}
#session_pane .special-form-pane .line p,
#study_pane .special-form-pane .line p,
#other_pane .special-form-pane .line p,
#last .special-form-pane .line p,
#other_pane2 .special-form-pane .line p {
  display: inline;
  float: left;
  line-height: 30px;
}
#session_pane .special-form-pane .line .plain-field,
#study_pane .special-form-pane .line .plain-field,
#other_pane .special-form-pane .line .plain-field,
#last .special-form-pane .line .plain-field,
#other_pane2 .special-form-pane .line .plain-field {
  margin: 0px 5px;
  height: 30px;
  width: 120px !important;
  background-color: rgba(66, 139, 202, 0.005);
  border: 0px;
  -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#session_pane .special-form-pane .line .plain-field:focus,
#study_pane .special-form-pane .line .plain-field:focus,
#other_pane .special-form-pane .line .plain-field:focus,
#last .special-form-pane .line .plain-field:focus,
#other_pane2 .special-form-pane .line .plain-field:focus {
  background-color: rgba(66, 139, 202, 0.05);
}
#session_pane .form-help-block,
#study_pane .form-help-block,
#other_pane .form-help-block,
#last .form-help-block,
#other_pane2 .form-help-block {
  display: inline-block;
  width: 40%;
  padding: 15px;
  position: absolute;
  z-index: -1;
}
#session_pane .form-help-block.right-block,
#study_pane .form-help-block.right-block,
#other_pane .form-help-block.right-block,
#last .form-help-block.right-block,
#other_pane2 .form-help-block.right-block {
  border-left-style: dotted;
}
#session_pane .form-help-block.left-block,
#study_pane .form-help-block.left-block,
#other_pane .form-help-block.left-block,
#last .form-help-block.left-block,
#other_pane2 .form-help-block.left-block {
  border-right-style: dotted;
}
div#session_pane label, div#last label {
  float: left;
  clear: both;
  margin-right: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 18%;
}
div#session_pane .form-control, div#last .form-control {
  margin-left: 18%;
  float: left;
}
div#session_pane #contact,
div#last #contact,
div#session_pane #personal,
div#last #personal {
  overflow: auto;
  margin-bottom: 15px;
}
div#session_pane #contact div,
div#last #contact div,
div#session_pane #personal div,
div#last #personal div {
  float: left;
  padding-left: 20px;
}
div#session_pane #contact .form-control,
div#last #contact .form-control,
div#session_pane #personal .form-control,
div#last #personal .form-control {
  width: 200px;
}
div#session_pane #contact select.form-control,
div#last #contact select.form-control,
div#session_pane #personal select.form-control,
div#last #personal select.form-control {
  margin-left: 18%;
}
div#last .form-group {
  width: 200px;
}
div#last .form-group select.form-control {
  width: 150px;
}
div#last #aspiraciones {
  overflow-y: hidden;
}
div#last #aspiraciones .inline_group ul.chosen-choices {
  border-color: #ccc;
}
div#last #aspiraciones .inline_group:first-child {
  width: 35%;
  margin: 5px;
  padding-left: 40px;
}
div#last #aspiraciones .inline_group:first-child + .inline_group {
  width: 35%;
  margin: 5px;
  padding-left: 40px;
}
div#escolar1 {
  width: 100%;
  margin: 20px auto;
  padding: 0px !important;
}
div#escolar1 p {
  clear: both;
  padding-left: 7%;
  font-weight: bold;
  margin: 10px 0px;
  font-size: 15px;
}
div#surprise-message {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
div#surprise-message .panel {
  display: none;
  margin: 100px auto;
  width: 60%;
  height: 350px;
}
div#surprise-message .panel panel-body {
  height: 100%;
}
div#surprise-message .panel panel-body p {
  font-size: 15px;
}
div#surprise-message .panel panel-body a {
  position: relative;
  bottom: 0px;
  margin-top: 120px;
}
div#_escolar1 {
  margin: 20px auto;
}
#id_comentario {
  width: 100%;
  min-width: 465px;
}
div#study_pane #escolar,
div#other_pane #escolar,
div#other_pane2 #escolar,
div#study_pane #superiores,
div#other_pane #superiores,
div#other_pane2 #superiores,
div#study_pane #experiencias,
div#other_pane #experiencias,
div#other_pane2 #experiencias {
  min-height: 150px;
  overflow: auto;
}
div#study_pane #escolar div,
div#other_pane #escolar div,
div#other_pane2 #escolar div,
div#study_pane #superiores div,
div#other_pane #superiores div,
div#other_pane2 #superiores div,
div#study_pane #experiencias div,
div#other_pane #experiencias div,
div#other_pane2 #experiencias div {
  float: left;
  padding-left: 20px;
}
div#study_pane #escolar label,
div#other_pane #escolar label,
div#other_pane2 #escolar label,
div#study_pane #superiores label,
div#other_pane #superiores label,
div#other_pane2 #superiores label,
div#study_pane #experiencias label,
div#other_pane #experiencias label,
div#other_pane2 #experiencias label {
  float: left;
  clear: both;
  margin-right: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10%;
}
div#study_pane #escolar .form-control,
div#other_pane #escolar .form-control,
div#other_pane2 #escolar .form-control,
div#study_pane #superiores .form-control,
div#other_pane #superiores .form-control,
div#other_pane2 #superiores .form-control,
div#study_pane #experiencias .form-control,
div#other_pane #experiencias .form-control,
div#other_pane2 #experiencias .form-control {
  margin-left: 10%;
  float: left;
}
div#study_pane #escolar textarea.form-control,
div#other_pane #escolar textarea.form-control,
div#other_pane2 #escolar textarea.form-control,
div#study_pane #superiores textarea.form-control,
div#other_pane #superiores textarea.form-control,
div#other_pane2 #superiores textarea.form-control,
div#study_pane #experiencias textarea.form-control,
div#other_pane #experiencias textarea.form-control,
div#other_pane2 #experiencias textarea.form-control {
  margin-left: 15%;
}
div#study_pane #escolar Select.form-control,
div#other_pane #escolar Select.form-control,
div#other_pane2 #escolar Select.form-control,
div#study_pane #superiores Select.form-control,
div#other_pane #superiores Select.form-control,
div#other_pane2 #superiores Select.form-control,
div#study_pane #experiencias Select.form-control,
div#other_pane #experiencias Select.form-control,
div#other_pane2 #experiencias Select.form-control {
  margin-left: 10%;
  width: 200px;
}
#alone label {
  margin-left: 0px !important;
}
#alone textarea {
  width: 100px;
  min-width: 530px;
  margin-left: 0px !important;
}
div#other_pane #habilidades {
  min-height: 100px;
  width: 100%;
}
div#other_pane #habilidades div {
  float: left;
  padding-left: 20px;
}
div#other_pane #habilidades .form_group {
  float: left;
  padding-left: 40px;
  min-height: 100px;
}
div#other_pane #habilidades .form_group + .form_group {
  padding-left: 20px;
}
div#other_pane #habilidades #alone {
  padding-left: 40px;
}
div#other_pane #habilidades label {
  float: left;
  clear: both;
  margin-right: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10%;
}
div#other_pane #habilidades .form-control {
  margin-left: 10%;
  float: left;
}
div#other_pane #habilidades Select.form-control {
  margin-left: 10%;
  width: 200px;
}
#controls {
  margin: 0px auto;
  width: 105px;
}
/*          DETALLE         */
/*       DETALLE.HTML          */
#detail_content {
  margin: 0px auto;
  min-width: 400px;
  max-width: 800px;
  padding: 20px;
  /* Disponibilidad */

}
#detail_content h3 {
  font-family: agilis;
  font-size: 30px;
}
#detail_content hr {
  margin-top: 0px;
  border-top: 1px solid #A8A8A8;
}
#detail_content #user_header {
  max-height: 150px;
}
#detail_content #user_header h1#user_name {
  font-family: agilis;
  font-size: 100px;
  display: inline-block;
}
#detail_content #user_header .sex_image {
  width: 110px;
  height: 110px;
  margin-right: 20px;
  margin-bottom: 60px;
}
#detail_content .nac_image {
  width: 35px;
  height: 35px;
}
#detail_content ul#user_detail {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 18px;
  padding: 0px;
  max-width: 250px;
  display: inline-block;
}
#detail_content ul#user_detail  + #descripcion {
  width: 70%;
  min-height: 100px;
  display: inline-block;
  border: solid 1px #cccccc;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 30px;
}
#detail_content ul#user_detail  + #descripcion h3 {
  font-family: agilis;
}
#detail_content ul#user_detail p {
  display: inline;
}
#detail_content ul#user_detail p#age, #detail_content ul#user_detail p#childs {
  text-indent: 5px;
  margin-left: 55px;
}
#detail_content ul#user_detail p#state {
  text-indent: 5px;
  margin-left: 4px;
}
#detail_content ul#disponibilidad li {
  margin: 10px;
}
#detail_content ul#disponibilidad li h2 {
  /*font-family: agilis;*/
  margin-left: 140px;
  font-size: 19px;
  text-decoration: underline;
  display: inline;
  margin-right: 30%;
}
#detail_content ul#disponibilidad li span {
  margin-left: 170px;
  font-size: 15px;
  text-align: justify;
}
#detail_content .contact-icons {
  display: inline-block;
  margin-left: 35%;
}
#detail_content .contact-icons li {
  margin: 10px;
  display: inline;
}
#detail_content .contact_form {
  background-color: #52585C;
  color: #D0D4D6;
  padding: 5px;
  border: solid 1px;
  margin: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 500px;
}
#detail_content .contact_form input, #detail_content .contact_form textarea {
  background-color: #52585C;
  color: #D0D4D6;
  padding: 5px;
  border: solid 0px;
  margin: 5px;
  min-width: 250px;
  border-bottom: solid 1px;
}
#detail_content .contact_form input:hover, #detail_content .contact_form textarea:hover {
  background-color: #66696B;
}
#detail_content .contact_form input:focus, #detail_content .contact_form textarea:focus {
  border: 0px;
  border-bottom: solid 1px;
  outline: 0px;
}
#detail_content .contact_form textarea {
  width: 95%;
}
#detail_content #enviarPM {
  float: right;
  color: #D0D4D6;
  font-weight: bold;
  margin-right: 5px;
}
#detail_content #enviarPM:hover {
  text-decoration: none;
  color: #fff;
}
/*          BUSQUEDA        */
/*      BUSQUEDA.HTML       */
.busqueda.avanzada {
  margin-left: 10%;
  width: 80%;
  -o-box-shadow: 0px 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px 0px #000000;
  -webkit-box-shadow: 0px 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px 0px #000000;
}
.busqueda.avanzada legend {
  background-color: #474949;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
.busqueda.avanzada fieldset {
  padding-left: 20px;
  background-color: rgba(66, 139, 202, 0.2);
}
.busqueda.avanzada fieldset:first-child {
  margin: 15px 0px;
}
.busqueda.avanzada fieldset h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0px;
}
.busqueda.avanzada fieldset h1:before {
  content: url("../img/square.png");
  opacity: 0.8;
}
.busqueda.avanzada .form-group {
  display: inline-block;
  width: 200px;
  margin-left: 8px;
  margin-right: 30px;
}
.busqueda.avanzada .form-group#sex-group {
  width: 300px;
}
.busqueda.avanzada .form-group .chosen-container {
  width: 100% !important;
}
.busqueda.avanzada #search {
  float: right;
  margin: 10px 0px;
}
/*          EDITAR PERFIL   */
.profile-content #edit-profile-form {
  height: 440px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 104%;
}
.profile-content #edit-profile-form legend {
  background-color: #474949;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  width: 95%;
  margin: 30px;
  margin-bottom: 0px;
}
.profile-content #edit-profile-form h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0px;
}
.profile-content #edit-profile-form h1:before {
  content: url("../img/square.png");
  opacity: 0.8;
}
.profile-content #edit-profile-form .block-form-pane {
  width: 95%;
  margin-top: 30px;
}
.profile-content #edit-profile-form .block-form-pane .comment {
  width: 85%;
}
.profile-content #edit-profile-form .block-form-pane .form-control {
  max-width: 100%;
  display: block;
}
/*          BANDEJA DE ENTRADA   */
.bandeja {
  overflow-y: scroll;
}
/*          CAMBIO DE CLAVE      */
.block-form-pane {
  background-color: rgba(66, 139, 202, 0.2);
  padding: 30px;
  border-style: solid;
  border-radius: 3px;
  border-color: #717680;
  border-width: 5px;
  overflow: auto;
  width: 100%;
  display: block;
  margin: 30px;
  margin-top: 60px;
}
.block-form-pane .inline-group {
  display: inline-block;
  margin: 10px 30px;
}
