/*mixins*/
/*FONTS*/
@font-face {
  font-family: marcelle;
  src: url('../fonts/marcelle/Marcsc___.ttf');
}
@font-face {
  font-family: times_new_yorker;
  src: url('../fonts/times_new_yorker/times_new_yorker.ttf');
}
@font-face {
  font-family: fail;
  src: url('../fonts/fail/FAIL____.ttf');
}
@font-face {
  font-family: pointy;
  src: url('../fonts/pointy/pointy_demo.ttf');
}
@font-face {
  font-family: santos-dumont;
  src: url('../fonts/billy-argel_santos-dumont/SANTO___.ttf');
}
@font-face {
  font-family: tequila-sunrise;
  src: url('../fonts/tequilla_sunrise/TequillaSunrise.ttf');
}
#login-form {
  margin-top: 200px;
}
#login-form input[type="submit"] {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}
p.help-block {
  clear: both;
}
body {
  background-color: rgba(230, 230, 230, 0.9);
  overflow-x: hidden;
}
.header {
  -o-box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  -moz-box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  box-shadow: 0px 1px 0px 0px rgba(217, 217, 217, 0.9);
  position: absolute;
  top: 0px;
  width: 100%;
  display: inline;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 150px;
}
.header h1 {
  position: absolute;
  left: 200px;
  top: 0px;
  margin-top: 40px;
  margin-right: 150px;
  font-family: pointy;
  font-size: 55px;
}
.header h1 a:hover,
.header h1 a:visited,
.header h1 a:visited,
.header h1 a:link {
  text-decoration: none;
  color: #444444;
}
.header #logo {
  display: inline;
  margin-left: 50px;
}
.header .sesion-buttons {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 50px;
  margin-right: 50px;
}
.header .sesion-buttons a {
  margin-left: 20px;
}
.body {
  position: relative;
  top: 200px;
  display: inline-block;
}
.body .jumbotron {
  position: relative;
  -o-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -moz-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 20px;
}
.body .jumbotron h1 {
  font-size: 45px;
}
.body .busqueda {
  position: relative;
  margin-left: 20px;
  -o-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -moz-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  -webkit-box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  box-shadow: 0px 1px 8px 0px rgba(115, 115, 115, 0.9);
  background-color: rgba(242, 242, 242, 0.9);
  padding: 10px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.body .busqueda .radio {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
}
div#aviso {
  position: fixed;
  width: 200px;
  height: 350px;
  top: 170px;
  left: 5px;
  padding: 5px;
  background-color: rgba(240, 229, 108, 0.8);
  overflow-y: scroll;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -o-box-shadow: 1px 1px 8px 0px #000000;
  -moz-box-shadow: 1px 1px 8px 0px #000000;
  -webkit-box-shadow: 1px 1px 8px 0px #000000;
  box-shadow: 1px 1px 8px 0px #000000;
}
input[value="Registrar"] {
  margin: 5px;
  display: none;
}
.alert {
  margin-top: 150px;
}
#content {
  margin-top: 0px;
}
#controls a {
  margin: 5px;
}
div#session_pane, div#last {
  /*width:50%;*/

}
div#session_pane h1, div#last h1 {
  margin: 20px auto;
  width: 50%;
}
div#session_pane #session, div#last #session {
  margin: 10px auto;
  width: 50%;
  overflow: auto;
}
div#session_pane label, div#last label {
  float: left;
  clear: both;
  margin-right: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 18%;
}
div#session_pane .form-control, div#last .form-control {
  margin-left: 18%;
  float: left;
}
div#session_pane #contact,
div#last #contact,
div#session_pane #personal,
div#last #personal {
  min-height: 200px;
}
div#session_pane #contact div,
div#last #contact div,
div#session_pane #personal div,
div#last #personal div {
  float: left;
  padding-left: 20px;
}
div#session_pane #contact .form-control,
div#last #contact .form-control,
div#session_pane #personal .form-control,
div#last #personal .form-control {
  width: 200px;
}
div#session_pane #contact select.form-control,
div#last #contact select.form-control,
div#session_pane #personal select.form-control,
div#last #personal select.form-control {
  margin-left: 18%;
}
div#last, div#escolar1 {
  width: 50%;
  margin: 20px auto;
}
div#surprise-message {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
div#surprise-message .panel {
  display: none;
  margin: 100px auto;
  width: 60%;
  height: 350px;
}
div#surprise-message .panel panel-body {
  height: 100%;
}
div#surprise-message .panel panel-body p {
  font-size: 15px;
}
div#surprise-message .panel panel-body a {
  position: relative;
  bottom: 0px;
  margin-top: 120px;
}
div#_escolar1 {
  margin: 20px auto;
}
#id_comentario {
  width: 100%;
  min-width: 465px;
}
div#study_pane h2, div#other_pane h2 {
  margin: 20px auto;
  width: 50%;
}
div#study_pane #escolar, div#other_pane #escolar {
  min-height: 200px;
  overflow: auto;
}
div#study_pane #escolar div, div#other_pane #escolar div {
  float: left;
  padding-left: 20px;
}
div#study_pane #escolar label, div#other_pane #escolar label {
  float: left;
  clear: both;
  margin-right: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10%;
}
div#study_pane #escolar .form-control, div#other_pane #escolar .form-control {
  margin-left: 10%;
  float: left;
}
div#study_pane #escolar textarea.form-control, div#other_pane #escolar textarea.form-control {
  margin-left: 15%;
}
div#study_pane #escolar Select.form-control, div#other_pane #escolar Select.form-control {
  margin-left: 10%;
  width: 200px;
}
div#other_pane #habilidades {
  min-height: 100px;
  width: 100%;
}
div#other_pane #habilidades div {
  float: left;
  padding-left: 20px;
}
div#other_pane #habilidades .form_group {
  float: left;
  padding-left: 40px;
  min-height: 100px;
}
div#other_pane #habilidades .form_group + .form_group {
  padding-left: 20px;
}
div#other_pane #habilidades #alone {
  padding-left: 40px;
}
div#other_pane #habilidades label {
  float: left;
  clear: both;
  margin-right: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10%;
}
div#other_pane #habilidades .form-control {
  margin-left: 10%;
  float: left;
}
div#other_pane #habilidades Select.form-control {
  margin-left: 10%;
  width: 200px;
}
.form-control {
  display: inline-block;
  max-width: 200px;
  margin: 5px 0px;
}
#indice {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #999999;
  margin-right: 25px;
  color: #2a6496;
}
.result {
  width: 100%;
  height: 0px;
  margin-top: 210px;
  background-color: #999999;
  overflow-y: scroll;
  margin-bottom: 30px;
}
.result .media-object {
  width: 64px;
  height: 64px;
}
.result .media-heading a {
  color: #2a6496;
}
ul {
  list-style: none;
}
.row {
  margin: 0px;
}
.footer {
  position: relative;
  bottom: 0px;
  margin-top: 170px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.9);
  -o-box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
  -webkit-box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
  box-shadow: 0px -2px 0px 0px rgba(204, 204, 204, 0.9);
}
.footer .first {
  padding-left: 50px;
}
.footer .first ul {
  float: left;
  list-style: none;
}
.footer .first ul li {
  float: left;
  margin-right: 15px;
  margin-top: 20px;
  color: #2a6496;
}
.footer .contacto li {
  background-color: rgba(242, 242, 242, 0.9);
  font-weight: 400;
  font-height: 1;
  width: 25px;
  padding: 5px;
  margin: 8px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -o-box-shadow: ;
  -moz-box-shadow: ;
  -webkit-box-shadow: ;
  box-shadow: ;
  transition: ;
  -moz-transition: ;
  /* Firefox 4 */

  -webkit-transition: ;
  /* Safari and Chrome */

  -o-transition: ;
  /* Opera */
  max-height: 30px;
  float: left;
}
.footer .contacto li:hover {
  width: 200px;
}
.footer .contacto li p {
  display: none;
  position: relative;
  padding-left: 40px;
  top: -20px;
}
.footer .col-lg-4 ul {
  margin-top: 20px;
  list-style: none;
  bottom: 0px;
}
