
/*mixins*/

.box-shadow(@x: 0px, @y: 0px, @blur: 10px, @spread: 0px, @color: rgba(0, 0, 0, 0.3)){
    -o-box-shadow:  @arguments;
    -moz-box-shadow:  @arguments;    
    -webkit-box-shadow:  @arguments;        
    box-shadow:  @arguments;
}

.border-radius(@radius: 5px){
    -o-border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.transition (@property: all, @time: 0.5s){
    
    transition:@arguments;
    -moz-transition:@arguments; /* Firefox 4 */
    -webkit-transition:@arguments; /* Safari and Chrome */
    -o-transition:@arguments; /* Opera */    
}

.transform (@tProperty: scale(1.2)){
    
    transform:@tProperty;
    -webkit-transform:@tProperty;
    -ms-transform:@tProperty;
    -moz-transform:@tProperty;
    -o-transform:@tProperty;
}

/*FONTS*/
@font-face
{
    font-family: marcelle;
    src: url('../fonts/marcelle/Marcsc___.ttf');         
}

@font-face
{
    font-family: times_new_yorker;
    src: url('../fonts/times_new_yorker/times_new_yorker.ttf');         
}

@font-face
{
    font-family: fail;
    src: url('../fonts/fail/FAIL____.ttf');         
}

@font-face
{
    font-family: pointy;
    src: url('../fonts/pointy/pointy_demo.ttf');         
}

@font-face
{
    font-family: santos-dumont;
    src: url('../fonts/billy-argel_santos-dumont/SANTO___.ttf');         
}

@font-face
{
    font-family: tequila-sunrise;
    src: url('../fonts/tequilla_sunrise/TequillaSunrise.ttf');         
}
p.help-block {
  clear: both;
}
body {
    background-color: darken(rgba(255,255,255,0.9),10%);
    overflow-x: hidden;    
}

.header {
    .box-shadow(0px, 1px, 0px, 0px, darken(rgba(255,255,255,0.9),15%));
    position: absolute;
    top: 0px;
    width: 100%;
    display: inline;
    background-color: rgba(255,255,255,0.9);
    min-height: 150px;
    //.box-shadow;
    h1 {
        position: absolute;
        left: 200px;
        top: 0px;
        margin-top: 40px;
        margin-right: 150px;
        font-family: pointy;
        font-size: 55px;
        a {
            &:hover, &:visited,
            &:visited, &:link{
                text-decoration: none;
                color: #444444;
            }
        }
    }
    #logo{
        display: inline;
        margin-left: 50px;        
    }
    
    .sesion-buttons {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-top: 50px;
        margin-right: 50px;
        a {
            margin-left: 20px; 
        }
    }
}

.body {
    
    position: relative;
    top: 200px;    
    display: inline-block;
    
    
    .jumbotron {
        position: relative;
        .box-shadow(0px, 1px, 8px, 0px, darken(rgba(255,255,255,0.9),55%));
        background-color: darken(rgba(255,255,255,0.9),0%);
        margin-left: 20px;
        h1 {
            font-size: 45px;
        }
    }
    .busqueda {
        position: relative;
        margin-left: 20px;
        .box-shadow(0px, 1px, 8px, 0px, darken(rgba(255,255,255,0.9),55%));
        background-color: darken(rgba(255,255,255,0.9),5%);
        padding: 10px;
        .border-radius(6px);        
       
        .radio {
            display: inline;
            float: left;
            margin-right: 10px;
            margin-left: 5px;
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
}
div#aviso{
    position: fixed;
    width: 200px;
    height: 350px;
    top: 170px;
    left: 5px;
    padding: 5px;
    background-color: rgba(240, 229, 108, 0.8);
    overflow-y: scroll;
    .border-radius;
    .box-shadow(1px,1px,8px,0px,rgb(0,0,0));
}
input[value="Registrar"]{
    margin: 5px;
    display: none;
}
.alert{
    margin-top: 150px;
}
#content{
    margin-top:0px;
}
#controls{
    a{
        margin: 5px;
    }
}
div#session_pane,div#last{
    width:50%;
    margin: 10px auto;

    label{
        float: left;
        clear: both;
        margin-right: 100%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 18%;
    }
    .form-control{
        margin-left: 18%;
        float: left;
    }    
}

div#user_pane{

    #contact{
        min-height: 200px;
        div{
            float: left;
            padding-left: 20px;
        }

        label{
            float: left;
            clear: both;
            margin-right: 100%;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 10%;
        }
        .form-control{
            margin-left: 10%;
            float: left;
        }
        label[for="id_sexo"],label[for="id_estado_civil"]{
            margin-left: 12%;
        }
        label[for="id_tiene_hijos"]{
            width: 100%;
            margin: 0px auto;
        }

        Select.form-control{
            margin-left:12%;
            width: 200px;        
        }
        input[type="checkbox"]{
            margin-top: 15px;
             
        }
    }
}

div#experience_pane{

    #escolar{
        min-height: 200px;
        div{
            float: left;
            padding-left: 20px;
        }
        #lefty{
            margin-left: 18px;
        }
        #ingreso{
            width: 45%;        
        }
        #egreso{
            width: 40%; 
            margin-left: 25px;   
        }
        label{
            float: left;
            clear: both;
            margin-right: 100%;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 10%;
        }
        .form-control{
            margin-left: 10%;
            float: left;
        }        

        Select.form-control{
            margin-left:10%;
            width: 200px;        
        }       
    }
}

div#other_pane{

    #habilidades{
        min-height: 100px;        
        width: 100%;
        
        .form_group{
            float: left;
            padding-left: 40px;
            min-height: 100px;
        }
        .form_group + .form_group {
            padding-left: 20px;
        }
        label{
            float: left;
            clear: both;
            margin-right: 100%;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 10%;
        }
        .form-control{
            margin-left: 10%;
            float: left;
        }        

        Select.form-control{
            margin-left:10%;
            width: 200px;        
        }       
    }
}

.form-control{
    display: inline-block;
    max-width: 200px;
    margin: 5px 0px;    
}

#indice {
    display: none;
    position: absolute;
    right: 0px;
    background-color: lighten(black,60%);
    margin-right: 25px;
    color: #2a6496;
    
}

.result {
    width: 100%;
    height: 0px;
    margin-top: 210px;
    background-color: lighten(black,60%);
    overflow-y: scroll;
    margin-bottom: 30px;
    
    .media-object {
        width: 64px;
        height: 64px;
        
    }
    .media-heading{
            a {
                color: #2a6496;
            }
        }
}

ul {
    list-style: none;    
}

.row {
    margin:0px;
}
.footer {
    position: relative;
    bottom: 0px;
    margin-top: 170px;
    width: 100%;
    background-color: darken(rgba(255,255,255,0.9),15%);
    .box-shadow(0px, -2px, 0px, 0px, darken(rgba(255,255,255,0.9),20%));        
    
    .first {
        padding-left: 50px;
        ul {
            float: left;
            list-style: none;
            li {
                float: left;
                margin-right: 15px;
                margin-top: 20px;
                color: #2a6496;
            }
        }
    }
    .contacto {
        
        li{
            background-color: darken(rgba(255,255,255,0.9),5%);
            font-weight: 400;
            font-height: 1;
            width: 25px;
            padding: 5px;
            margin: 8px;
            .border-radius;
            cursor: pointer;
            .box-shadow;
            .transition;
            max-height: 30px;
            float: left;
            //p.hiden {
            //    //display: none;
            //    margin-left: 10px;
            //    .transition;
            //    &:hover {
            //        
            //        display: block;
            //        color: black;
            //    }
            //}
            
            &:hover {
                width: 200px;
                //.transform;
            }
            
            p {
                display: none;
                position: relative;
                padding-left: 40px; 
                top: -20px;
            }
        }
    }
    
    .col-lg-4{        
        
        ul {
            margin-top: 20px;
            list-style: none;
            bottom: 0px;
        } 
    }
}
