{% extends 'template.html' %}
{% block title %} Busqueda avanzada | MiPega.cl {% endblock %}
{% block contenido %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Búsqueda avanzada</h2>
                            <form id="id_form" class="form-horizontal">
                                {% csrf_token %}
                                <h4 class="page-header">Sección de preferencias</h4>
                                <div class="form-group form-group-lg">


                                    <div class="col-sm-6">
                                        <label>Cargo</label>
                                        <select name="cargo" class="form-control chosen-select" id="inputCargo" data-placeholder="Ingeniero, Técnico, etc." multiple tabindex="6">
                                            {% for cargo in cargos %}
                                                
                                                {% if cargo.id in ant_cargos %}
                                                <option selected value="{{cargo.id}}">{{cargo.nombre}}</option>
                                                {% else %}
                                                <option value="{{cargo.id}}">{{cargo.nombre}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6" id="div_localidades">
                                        <label>Localidad</label><br />
                                        <select name="localidad" class="chosen-select" multiple tabindex="6" data-placeholder="Renca, Región de Aisen, etc." multiple>
                                            <optgroup label="REGIONES">
                                                {% for localidad in localidades %}
                                                {% ifequal localidad.tipo "r" %}
                                                    <option {% if localidad.id in ant_localidades %}selected{% endif %} value="{{localidad.id}}">{{localidad.nombre}}</option>
                                                {% endifequal %}
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="COMUNAS">
                                                {% for localidad in localidades %}
                                                {% ifequal localidad.tipo "c" %}
                                                    <option {% if localidad.id in ant_localidades %}selected{% endif %} value="{{localidad.id}}">{{localidad.nombre}}</option>
                                                {% endifequal %}
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <div class="col-sm-6">
                                        <label>Estado civil</label>
                                            <select name="estado-civil" class="form-control">
                                                <option value="0">Indiferente</option>
                                                <option value="sol">Soltero(a)</option>
                                                <option value="cas">Casado(a)</option>
                                                <option value="div">Divorciado(a)</option>
                                            </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Edad</label><br />
                                            <b> 18 </b> 
                                            <input class="span7" type="text" name="edad" value="{{ant_edad}}" data-slider-min="18" data-slider-max="100" data-slider-step="1" data-slider-value="[{{ant_edad}}]"  data-tooltip="bottom" id="sl2">
                                            <b> 100 </b>
                                    </div>
                                </div>
                                <h4 class="page-header">Sección de datos personales</h4>

                                <div class="form-group form-group-lg">
                                    <div class="col-lg-6">
                                        <label for="">Sexo</label>
                                        <br>
                                        <div class="radio">
                                            <label>
                                                <input checked type="radio" name="optionsRadios" id="optionsRadios3" value="i">
                                                Indiferente
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input {% ifequal ant_option "m" %}checked{% endifequal %} type="radio" name="optionsRadios" id="optionsRadios1" value="m">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input {% ifequal ant_option "f" %}checked{% endifequal %} type="radio" name="optionsRadios" id="optionsRadios2" value="f">
                                                Femenino
                                            </label>
                                        </div>         
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="">Hijos</label>
                                        <br>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="hijos" value="0" checked>
                                                Indiferente
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="hijos" value="s">
                                                Si
                                            </label>
                                        </div>                            
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="hijos" value="n">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="page-header">Sección de estudios</h4>
                                <label for="">Estudios Escolares</label>
                                <div class="well form-group form-group-lg">
                                    <div class="col-lg-6">
                                         <select name="carrera1" class="form-control">
                                            <option value="-">Titulo técnico</option>
                                            {% for carrera in carreras_escolares %}
                                            <option value="{{carrera.id}}">{{carrera.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <select name="institucion1" class="form-control">
                                            <option value="-">Institución</option>
                                            {% for inst in instituciones_escolares %}
                                            <option value="{{inst.id}}">{{inst.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <label for="">Estudios Superiores</label>
                                <div class="well form-group form-group-lg">
                                    <div class="col-lg-6">
                                        <select name="carrera2" class="form-control">
                                            <option value="-">Titulo</option>
                                            {% for carrera in carreras_superiores %}
                                            <option value="{{carrera.id}}">{{carrera.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <select name="institucion2" class="form-control">
                                            <option value="-">Institución</option>
                                            {% for inst in instituciones_superiores %}
                                            <option value="{{inst.id}}">{{inst.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <h4 class="page-header">Sección de exigencias</h4>
                                <div class="form-group form-group-lg">
                                    <div class="col-sm-6">
                                        <label>Pretención de renta</label>
                                        <select name="renta" class="form-control">
                                            <option value="-">Indiferente</option>
                                            <option value="0">< 200.000</option>
                                            <option value="1">200.000-450.000</option>
                                            <option value="2">450.000-650.000</option>
                                            <option value="3">650.000-850.000</option>
                                            <option value="4">850.000-1.000.000</option>
                                            <option value="5">1.250.000-1.500.000</option>
                                            <option value="6">1.500.000-1.750.000</option>
                                            <option value="7">2.000.000-2.500.000</option>
                                            <option value="8">2.500.000-3.000.000</option>
                                            <option value="9">3.000.000 o +</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Tipo de contrato</label>
                                        <select name="contrato" class="form-control">
                                            <option value="0">Me es indiferente</option>
                                            <option value="def">Definido</option>
                                            <option value="inde">Indefinido</option>
                                            <option value="otr">Otro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <div class="col-sm-6">
                                        <label>Experiencia en el rubro</label>
                                        <select name="rubro" class="form-control chosen-select" id="inputRubro" multiple tabindex="6" data-placeholder="Seleccione un rubro...">
                                            {% for rubro in rubros %}
                                                <option value="{{rubro.id}}">{{rubro.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Otros</label>
                                        <select name="otras-habilidades" class="form-control chosen-select" id="otras-habilidades" data-placeholder="Idioma,deporte,computación" multiple tabindex="6">
                                            {% for tipo in tipoHabilidades %}
                                                <optgroup label="{{tipo.nombre}}">
                                                {% for hab in habilidades %}
                                                    {% ifequal hab.tipoHabilidad.id tipo.id %}
                                                    <option value="{{hab.id}}">{{hab.nombre}}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button id="search" type="submit" class="btn btn-success">Buscar</button>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer text-right">
                            <a href="{% url 'vista_principal' %}" class="btn btn-primary">Volver a portada</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="result">
        <!-- aqui se insertan los resultados de la busqueda simple -->
    </div>
{% endblock %}
{% block SCRIPT %}
<script type="text/javascript">
$('#sl2').slider();
    {% for c in id_cargos %}
    $('#inputCargo option[value={{c}}]').attr('selected','selected')
    {% endfor %}
    
</script>
<script type="text/javascript">

$(document).ready(function(){
    $('#div_localidades div.chosen-container-multi').css("width", "547px");
});
    

    $('#search').click(function(e){
        $('.result').slideUp();
        e.preventDefault();
        $("#id_form").attr("action", "{% url 'busqueda_avanzada' %}"); 
        $("#id_form").attr("method", 'POST');
        var parametros = $('#id_form').serialize();
        $.ajax({
            url: "{% url 'busqueda_avanzada' %}",
            data: parametros,
            datatype: 'json',           
            type: 'post'
            
        }).done(function(data){
            if(data!=""){
                $('.result').html(data);
                $('.result').slideDown();
            }
        }).fail(function(){
            $.ambiance({message: "Error al hacer la busqueda", title:"Error",
                        type: "error",timeout:4,width:200,});
        }); 
    });
</script>
{% endblock %}
