{% extends 'template.html' %}
{% block title %} Detalle Usuario | MiPega.cl {% endblock %}
{% block contenido %}
{% load bootstrap_toolkit %}
<div style="height:170px;"></div>
<div id="detail_content">

    <!--<div id="wrapper">-->
        <div id="user_header">
            <h1 id="user_name">{{socio.nombre}}</h1>
        </div>
        <ul id="user_detail">
            <li>Edad : <p id="age">{{edad}}</p></li>
            <li>Hijos : <p id="childs">{{socio.tiene_hijos}}</p></li>
            <li id="sex">{{ socio.sexo }}</li>
            <li>Estado Civil : <p id="state">{{socio.get_estado_civil_display}}</p></li>
            <li id="nacionalidad">{{socio.nacionalidad}}</li>
        </ul>
        <div id="descripcion"></div>
    <!--</div>-->
    <div style="height:17px;"></div>
    <!--<div id="wrapper">-->
        <h3>Disponibilidad</h3>
        <hr>
        <ul id="disponibilidad">
            <!-- Cargo buscado -->
            <li>
                <img src="../../../static/fonts/glyphicons_free/glyphicons/png/glyphicons_450_factory.png"/>
                <h2>Cargos buscados</h2>
                {% for cargo in cargos %}
                <span>{{cargo.nombre}}, </span>
                {% endfor %}
            </li>
            
            <!-- Donde quiere trabajar -->
            <li>
                <img src="../../../static/fonts/glyphicons_free/glyphicons/png/glyphicons_370_globe_af.png"/>
                <h2>Localidades buscadas</h2>
                {% for loc in localidades %}
                <span>{{loc.nombre}}, </span>
                {% endfor %}
            </li>
            
            <!-- Contrato buscado -->
            <li>
                <img src="../../../static/fonts/glyphicons_free/glyphicons/png/glyphicons_458_money.png"/>
                <h2>Tipo de contrato</h2>
                <span>{{socio.get_tipo_contrato_display}}.</span>
            </li>
            
        </ul>
    <!--</div>-->
    <div style="height:17px;"></div>
    {% if estudios  %}
    <!--<div id="wrapper">-->
        <h3>Estudios</h3>
        <hr>
        {% if estudios_escolares %}
            <h4>Estudios escolares</h4>
            {% for est in estudios_escolares %}
                {{est.titulo.nombre}} en {{est.institucion.nombre}} [{{est.get_estado_display}}]<br />
            {% endfor %}
        {% endif %}
        {% if estudios_superiores %}
            <h4>Estudios Superiores</h4>
            {% for est in estudios_superiores %}
                {{est.titulo.nombre}} en {{est.institucion.nombre}} [{{est.get_estado_display}}]<br />
            {% endfor %}
        {% endif %}
    <!--</div>-->
    <div style="height:17px;"></div>
    {% endif %}
    <!--<div id="wrapper">-->
        <h3>Experiencia</h3>
        <hr>
        <h4>Experiencia Laboral</h4>
        {% for exp in experiencia %}
            Trabajo como {{exp.cargo.nombre}} en {{exp.rubro.nombre}} [{{exp.ano_ingreso}}-{{exp.ano_egreso}}]<br />
        {% endfor %}
        <h4>Otras Habilidades</h4>
        {% for hab in habilidades %}
            <span class="glyphicon glyphicon-ok"></span> [{{hab.habilidad.tipoHabilidad.nombre}}] {{hab.habilidad.nombre}} Nivel: {{hab.habilidad.get_nivel_display}}<br />
        {% endfor %}
    <!--</div>-->
    <div style="height:17px;"></div>
    <!--<div id="wrapper">-->
        <h3>Datos de Contacto</h3>
        <hr>
        <br />
        <ul class="contact-icons">
            <li id="mail"><img src="../../../static/fonts/glyphicons_free/glyphicons/png/glyphicons_010_envelope.png"/></li>
            <li id="phone"><img src="../../../static/fonts/glyphicons_free/glyphicons/png/glyphicons_442_earphone.png"/></li>
            <li id="web"><img src="../../../static/fonts/glyphicons_free/glyphicons/png/glyphicons_050_link.png"/></li>
        </ul> 
        <form class="contact_form" id="id_form" onsubmit="return false;">
            <input name="nombre" id="input-nombre" type="text" placeholder="Nombre"><br />
            <input type="text" name="contacto" id="input-contacto" placeholder="Dato de contacto"><br />
            <textarea name="mensaje" id="text-mensaje" placeholder="Escriba su mensaje..." style="resize:none;"></textarea>
            <input type="hidden" name="id_user" value="{{socio.id}}">
        <br />
        <a href="#" id="enviarPM" >Enviar ></a>
        </form>
        
        <!--<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Launch demo modal</a>-->
    <!--</div>-->
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Redactar Mensaje</h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <form id="id_form" onsubmit="return false;">
                    <input name="nombre" id="input-nombre" type="text" placeholder="Nombre"><br />
                    <input type="text" name="contacto" id="input-contacto" placeholder="Dato de contacto"><br />
                    <br />
                    <textarea name="mensaje" id="text-mensaje" placeholder="Escriba su mensaje..." style="resize:none;"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
                <button id="enviarPM" class="btn btn-primary">Enviar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
{% block SCRIPT %}
<script type="text/javascript">
    $('#enviarPM').click(function(event){
        event.preventDefault();
        var parametros = $('#id_form').serialize();
        $.ajax({
            url: "{% url 'enviar_mensaje_personal' %}",
            data: parametros,
            datatype: 'json',           
            type: 'post'
            
        }).done(function(data){
            //$('#myModal').modal('hide');
            if(data == "enviado"){
                $('#input-nombre, #input-contacto, #text-mensaje').val("");
                $.ambiance({message: "Mensaje enviado con exito.", title:"",
                        type: "success",timeout:4,width:200,});
            }else{
                $.ambiance({message: data, title:"Error",
                        type: "error",timeout:4,width:200,});
            }
        }).fail(function(){
            $('#myModal').modal('hide');
            $.ambiance({message: "Error al enviar el mensaje, intentelo denuevo mas tarde.", title:"Error",
                        type: "error",timeout:4,width:200,});
        }); 
    });
</script>
{% endblock %}
