{% extends 'template.html' %}
{% block title %} Inicio | MiPega.cl {% endblock %}
{% block contenido %}
<div class="body row">
        
        <div class="col-lg-6">
            <div class="jumbotron">
            <h1>Bienvenido a mipega</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
            <p><a class="btn btn-primary btn-large" href="{% url 'vista_registro' %}">¡Unete!</a></p>
            </div>
        </div>
        <div class="col-lg-5 busqueda">
            <form onsubmit="return false;">
                <fieldset>
                    <legend>Encuentre a su trabajador!</legend>
                    <!--<div class="form-group">                    
                        <input type="text" class="form-control" id="inputProfesion" placeholder="Profesion...">
                    </div>-->
                    <div class="form-group">
                        <p class="help-block">Cargo:</p>
                        <input type="text" class="form-control" id="inputCargo" placeholder="Ingeniero, Tecnico alambrista...">
                        
                    </div>
                    <div class="form-group">
                        <p class="help-block">Rango etario:</p>
                        <select class="form-control">
                            <option>Indiferente</option>
                            <option>18-22</option>
                            <option>22-29</option>
                            <option>30-37</option>
                            <option>37-44</option>
                            <option>44+</option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <div class="sex-block">
                            <p class="help-block">Sexo:</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Masculino
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Femenino
                                </label>
                            </div>                            
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Indiferente
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="help-block">Localidad:</p>
                        <input type="text" class="form-control" id="inputLocalidad" placeholder="La florida, Region de Atacama...">
                        
                    </div>
                    <a class="pull-right" href="#">Busqueda avanzada</a>
                    <br><br>
                    <button class="btn btn-default" id="search">Buscar</button>
                </fieldset>
            </form>
        </div>
    </div>

    
    <div class="result">
        <!-- aqui se insertan los resultados de la busqueda simple -->
    </div>
{% endblock %}
{% block SCRIPT %}
<script type="text/javascript">
    $('#search').click(function(){
        var parametros = {
            "TIPO" : 1,
            "TALLA" : 1,
            "PRECIO" : 1,
            "COLOR" : 1
        };
        
        //alert(parametros.COLOR);
        
        $.ajax({
            url: "{% url 'busqueda_rapida' %}",
            data: parametros,
            datatype: 'json',           
            type: 'post'
            
        }).done(function(data){
            /*aca lo que haces con la respuesta de la funcion*/
            $('#result').append(data);
            $(".media").show();
            $(".result").animate({
                height: "180px",
                padding: "15px"
            }, 500);
            $("#indice").show();
        }).fail(function(){
            /*aca lo que pasa si la funcion falla*/
            $.ambiance({message: "Error al hacer la busqueda", 
                        title:"Error",
                        type: "error",
                        timeout:4,
                        width:200,
                        });
            
        }); 
    });
    // {% url 'busqueda_rapida' %}
</script>
{% endblock %}