{% extends 'template.html' %}
{% block title %} Inicio | MiPega.cl {% endblock %}
{% block contenido %}
<div class="body row">
        
        <div class="col-lg-7">
            <div class="jumbotron">
            <h1>Participa de mipega.cl</h1>
            <p style="text-align:justify">Esta es su oportunidad, basta de buscar trabajo... deja que el trabajo te busque a ti!
                Estaras disponible para ser contactado con absoluta privacidad por toda la oferta de empleo del pais. Conocenos y no te arrepentiras.</p>
            <p><a class="btn btn-primary btn-large" href="{% url 'vista_registro' %}">¡Unete!</a></p>
            </div>
        </div>
        <div class="col-lg-4 busqueda">
            <form id="id_form" onsubmit="return false;">
                <fieldset>
                    <!--{{form_busqueda_rapida}}-->
                    
                    <legend>Encuentre a su trabajador!</legend>
                    <!-- <div class="form-group">                    
                        <input type="text" class="form-control" id="inputProfesion" placeholder="Profesion...">
                    </div> -->
                    <div class="form-group">
                        <p class="help-block">Cargo:</p>
                        <select name="cargo" class="form-control chosen-select" id="inputCargo" data-placeholder="Ingeniero, Tecnico alambrista..." multiple tabindex="6">
                            {% for cargo in cargos %}
                                <option value="{{cargo.id}}">{{cargo.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <p class="help-block">Rango etario:</p>
                        <select name="edad" class="form-control">
                            <option value="-">Indiferente</option>
                            <option value="1">18-24</option>
                            <option value="2">24-29</option>
                            <option value="3">30-37</option>
                            <option value="4">37-44</option>
                            <option value="5">44+</option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <div class="sex-block">
                            <p class="help-block">Sexo:</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="m" checked>
                                    Masculino
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="f">
                                    Femenino
                                </label>
                            </div>                            
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="i">
                                    Indiferente
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="help-block">Localidad:</p>
                        <!-- <input type="text" class="form-control" id="inputLocalidad" placeholder="La florida, Region de Atacama..."> -->
                        <select name="localidad" class="chosen-select" multiple tabindex="6" data-placeholder="Ej: La florida, Region de Atacama...">
                            <optgroup label="REGIONES">
                                {% for localidad in localidades %}
                                {% ifequal localidad.tipo "r" %}
                                    <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                                {% endifequal %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="COMUNAS">
                                {% for localidad in localidades %}
                                {% ifequal localidad.tipo "c" %}
                                    <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                                {% endifequal %}
                                {% endfor %}
                            </optgroup>
                        </select>
                        
                    </div>
                    <a class="pull-right" href="#">Busqueda avanzada</a>
                    <br><br>
                    <button class="btn btn-default" id="search">Buscar</button>
                </fieldset>
            </form>
        </div>
    </div>

    
    <div class="result">
        <!-- aqui se insertan los resultados de la busqueda simple -->
    </div>
{% endblock %}
{% block SCRIPT %}
<script type="text/javascript">
    $('#search').click(function(){
        var parametros = $('#id_form').serialize();
        parametros["cargo"] = "ads~asd";
        $.ajax({
            url: "{% url 'busqueda_rapida' %}",
            data: parametros,
            datatype: 'json',           
            type: 'post'
            
        }).done(function(data){
            $('.result').html(data);
            $(".media").show();
            $(".result").animate({
                height: "180px",
                padding: "15px"
            }, 500);
            $("#indice").show();
        }).fail(function(){
            $.ambiance({message: "Error al hacer la busqueda", title:"Error",
                        type: "error",timeout:4,width:200,});
        }); 
    });
</script>
{% endblock %}