{% extends 'template.html' %}
{% block title %} Perfil de usuario | MiPega.cl {% endblock %}
{% block contenido %}

	<div id="login-form_">
		<!--<h3 style="text-align:center;">Perfil</h3>-->
		<ul class="profile-nav">
		    <li><a href="{% url 'vista_nuevaclave' %}" class="btn btn-primary btn-lg">Cambiar clave</a></li>
		    <li><a href="{% url 'vista_editarperfil' %}" class="btn btn-primary btn-lg">Editar perfil</a></li>
		    <li><a href="{% url 'vista_bandejaentrada' %}" class="btn btn-primary btn-lg">Bandeja de entrada</a></li>
		    <li><a href="#" class="btn btn-primary btn-lg">Pagar subscripción</a></li>
		</ul>
	</div>
	<div class="profile-content">
	    
	            
	</div>
	
{% endblock %}
