{% extends 'template.html' %}
{% block title %} Pruebita | MiPega.cl {% endblock %}
{% block contenido %}
<div class="profile-content">
	{%for estudio in estudios%}
		<p>{{estudio.estado}}</p>
		<p>{{estudio.titulo}}</p>
		<p>{{estudio.institucion}}</p>
		</br>
	{%endfor%}
	<p>YIA</p>
	{%for estudio in lista%}
		<p>{{estudio.estado}}</p>
		<p>{{estudio.titulo}}</p>
		<p>{{estudio.institucion}}</p>
		</br>
	{%endfor%}



<p>EST1</p>
<p>{{est1.estado}}</p>
<p>{{est1.titulo}}</p>
<p>{{est1.institucion}}</p>
<p>{{est1.socio.nombre}}</p>

<p>EST2</p>
<p>{{est2.estado}}</p>
<p>{{est2.titulo}}</p>
<p>{{est2.institucion}}</p>
<p>{{est2.socio.nombre}}</p>

<p>EST3</p>
<p>{{est3.estado}}</p>
<p>{{est3.titulo}}</p>
<p>{{est3.institucion}}</p>
<p>{{est3.socio.nombre}}</p>
</div>	
{% endblock %}