{% extends 'template.html' %}
{% block title %} Registro de usuario | MiPega.cl {% endblock %}
{% block contenido %}
<div id="content">
    <div id="wrapper">
        <form id="formElem" name="formElem" action="" method="post">
            {% csrf_token %}
            <h1>Cuenta</h1>
            <p>RUT:
            {{form_user.username}}</p>
            <p>Clave:
            {{form_user.password}}</p>
            <p>Repita su clave:
            {{form_user.ClaveRepetida}}</p>
            <h1>Contacto</h1>
            <p>Usuario:
            {{form_socio.usuario}}</p>
            <p>Email:
            {{form_user.email}}</p>
            <p>Teléfono:
            {{form_socio.telefono}}</p>
            <p>Web:
            {{form_socio.web}}</p>
            <h1>Personal</h1>
            <p>Año nacimiento:
            {{form_socio.ano_nacimiento}}</p>
            <p>Hijos:
            {{form_socio.tiene_hijos}}</p>
            <p>Sexo:
            {{form_socio.sexo}}</p>
            <p>Estado civil:
            {{form_socio.estado_civil}}</p>
            <h1>Experiencia Laboral</h1>
            <h2>Enseñanza escolar</h2>
            {{form_estudio}}
            <h2>Estudios superiores</h2>
            {{form_estudio2}}
            <h2>Experiencia laboral</h2>
            {{form_explab}}
            <h2>Otras habilidades</h2>
            {{form_hab}}
            <h1>Ultimos datos</h1>
            <p>Localidad:
            {{form_sociol.localidad}}</p>
            <p>Pretenciones de renta:
            {{form_socio.pretencion_renta}}</p>
            <p>Tipo contrato:
            {{form_socio.tipo_contrato}}</p>
            <input class="btn btn-primary" type="submit" value="Registrar">               
        </form>   
    </div>
</div>
    

{% endblock %}