{% extends 'template.html' %}
{% block title %} Registro de usuario | MiPega.cl {% endblock %}
{% block contenido %}

<div id="surprise-message">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title">Busca trabajo?</h2>
        </div>
        <div class="panel-body">
            <p>
            Esta es su oportunidad, un lugar distinto donde usted no postula, "a usted lo buscan", basta de postular e ingresar a sitios donde nunca lo llamanm hagase socio de mipega y estara presete en un sitio de internet donde todas las personas que necesitan contratar contratar o requieren un servicio lo pueden hacer, usted con solo $6.000.- por 6 meses estara disponible para ser contactado con absoluta privacidad por toda la oferta de empleo que existe en el pais. conocenos y no te arrepentiras.
            </p>            
            <a class="btn btn-primary pull-right" href="#" style="margin-top: 120px;">Continuar</a>
        </div>
    </div>
</div>
<div class="alert alert-block alert-info fade in" id="slide-alert">        
    <h4>Ayuda para la página!</h4>
    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    <p>
        <a class="btn btn-primary" id="help" href="#">Ayuda</a> <a class="btn btn-info" id="hide-alert" href="#">Ocultar</a>
    </p>
</div>
<!--<div id="content">
    <div id="wrapper">-->
        {% load bootstrap_toolkit %}
        <form id="formElem" name="formElem" action="" method="post">
            {% csrf_token %}
            <div class="row form-pane active-pane" id="session_pane"> <!-- PANEL DE PERFIL -->
                <!--<div class="col-md-6 col-md-offset-2">-->
                    <h1 id="seccion_cuenta">Cuenta</h1><!-- CUENTA DE MIPEGA -->
                    <div class="special-form-pane"  id="session">
                        <div style="width: 240px;" class="inline_group">
                            <label style="margin-left: 23%;" for="id_username">RUT:</label>
                            {{form_user.username}}
                        </div>
                        <div class="inline_group contact">
                            <label for="id_usuario">Nombre:</label>
                            {{form_socio.nombre}}
                        </div>
                        <div class="inline_group">
                            <label for="id_password">Clave:</label>
                            {{form_user.password}}
                        </div>
                        <div class="inline_group">
                            <label for="id_ClaveRepetida">Repita su clave:</label>
                            {{form_user.ClaveRepetida}}
                        </div>
                    </div>
                    <div id="session-help" style="top: 360px;" class="right-block form-help-block">
                        <ul>
                            <li><b>RUT*:</b> El Rut ingresado se utilizará como tu usuario para el inicio de sesión en el sistema, este se encontrará oculto en todo momento.</li>
                            <li><b>Nombre*:</b> Nombre de usuario que será visible para quienes visiten el sitio.</li>
                            <li><b>Clave*:</b> Ingrese una clave con un mínimo de 4 dígitos</li>
                            <li><b>Repita su clave*:</b> Ingrese su clave nuevamente</li>
                        </ul>
                    </div>
                    <h1 id="seccion_personal">Personal</h1><!-- INFORMACIÓN PERSONAL -->
                    <div id="personal-help"style="height: 238px;top: 640px;left: 190px;" class="left-block form-help-block">
                        <ul>
                            <li><b>Hijos:</b></li>
                            <li><b>Estado civil:</b></li>
                            <li><b>Edad:</b> Ingrese su edad en años</li>
                            <li><b>Nacionalidad:</b></li>
                        </ul>
                    </div>
                    <div class="pull-right special-form-pane" id="personal">
                        <div id="personal2">
                            <div class="inline_group personal" style="width:270px;">
                                <label for="id_sexo">Sexo:</label>
                                {{form_socio.sexo}}
                            </div>
                            <div class="inline_group personal">
                                <label for="id_tiene_hijos">Hijos:</label>
                                {{form_socio.tiene_hijos}}
                            </div>
                        </div>
                        <div class="inline_group personal" style="padding-left: 36px;width: 100%;">
                                <label for="id_estado_civil">Estado civil:</label>
                                {{form_socio.estado_civil}}
                            </div>
                        <div id="personal1">
                            <div class="inline_group personal" style="width:270px;">
                                <label for="id_ano_nacimiento">Edad:</label>
                                {{form_socio.edad}}
                            </div>
                                                        
                            <div class="inline_group personal">
                                <label for="id_nacionalidad">Nacionalidad:</label>
                                {{form_socio.nacionalidad}}
                            </div>
                        </div>                        
                    </div>                    
                    <h1 style="top: 900px;" id="seccion_contacto">Contacto</h1><!-- INFORMACIÓN DE CONTACTO -->
                    <div class="special-form-pane" id="contact">
                      
                            <div class="line">
                                <p> Me gustaría recibir mis mensajes al mail</p> 
                                {{form_user.email}} 
                                <p> y al telefono </p>
                                {{form_socio.telefono}}
                            </div>    
                            <div class="line">
                                <p>Oh! y me gustaria que visitarán mi página web: </p>{{form_socio.web}} 
                            </div>                                
                            <div class="line">
                                <p>Activar correo electrónico para recibir mensajes de solicitud {{form_socio.correovisible}} </p>
                            </div>                              
                    </div>
                    <div id="contact-help"style="top: 960px; right: 190px;height: 177px;" class="right-block form-help-block">
                        <ul>
                            <li><b>Correo electrónico*:</b> Ingrese su correo electrónico, este será utilizado para enviar correos sobre el estado de su cuenta y notificaciones de contacto de empleo</li>

                            <li><b>Activar correo:</b> Si desea recibir notificaciones de contacto a su correo electrónico, por favor marque la casilla correspondiente</li>

                            <li><b>Teléfono:</b> Si usted ingresa un número de teléfono celular válido podrá recibir mediante mensajes de texto sin costo adicional, notificaciones de contacto de trabajo</li>

                            <li><b>Página web:</b> Si posee una web y le gustaría ser contactado a través de ella, indíquela a continuación </li>
                        </ul>
                    </div>

                    
                <!--</div>-->
            </div>
            <div class="row form-pane" id="preference_pane">
                <div class="col-md-6 col-md-offset-2" id="last">
                    
                    <h1>¿Qué busca?</h1><!-- ASPIRACIONES -->
                    <div id="aspiraciones" class="special-form-pane">
                        <!--Espacio de los cargos-->
                        <div class="inline_group">
                            <label for="id_pretencion_renta">Cargo buscado:</label>
                            <select name="cargo" class="form-control chosen-select index-select" id="inputCargo" data-placeholder="Ingeniero, Tecnico alambrista..." multiple tabindex="6">
                                {% for cargo in cargos %}
                                    <option value="{{cargo.id}}">{{cargo.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--Fin de modificacion-->

                        <!--Modificacion de localidad-->
                        <div class="inline_group">
                            <label for="id_pretencion_renta">Dónde desea trabajar:</label>
                            <select name="localidad" class="chosen-select index-select" multiple tabindex="6" data-placeholder="Ej: La florida, Region de Atacama...">
                                <optgroup label="REGIONES">
                                    {% for localidad in localidades %}
                                    {% ifequal localidad.tipo "r" %}
                                        <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="COMUNAS">
                                    {% for localidad in localidades %}
                                    {% ifequal localidad.tipo "c" %}
                                        <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                                    {% endifequal %}
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <!--Fin de modificacion-->
                        <div class="inline_group">
                            <label for="id_pretencion_renta">Pretenciones de renta:</label>
                            {{form_socio.pretencion_renta}}
                        </div>
                        <div class="inline_group">
                            <label for="id_tipo_contrato">Tipo contrato:</label>
                            {{form_socio.tipo_contrato}}
                        </div>
                    </div>
                    <div id="aspiraciones-help" style="top: 360px;" class="right-block form-help-block">
                        <ul>
                            <li><b>Cargo buscado:</b> Seleccione de la lista los cargos que sean de su interez</li>
                            <li><b>Donde trabajar:</b> Seleccione de la lista los lugares donde desea trabajar</li>
                            <li><b>Pretenciones de renta:</b></li>
                            <li><b>Tipo contrato:</b></li>
                        </ul>
                    </div>    
                </div>
            </div>

            <div class="row form-pane" id="study_pane">
                <div class="col-md-6 col-md-offset-2">                    
                    <h2 id="seccion_escolar">Enseñanza escolar</h2>
                    <div class="special-form-pane" id="escolar">
                        <div id="escolar1">
                            <div class="form_group" style="margin-bottom:10px;">
                                <label for="id_estado">Estado:</label>
                                {{form_estudio.estado}}
                            </div>
                            <p>En caso de poseer un titulo tecnico de liceo, indiquelo en las casillas siguientes...</p>
                        <!--</div>
                        <div id="escolar2">-->
                            <div class="form_group">
                                <label for="id_titulo">Título:</label>
                                {{form_estudio.titulo}}
                            </div>
                            <div class="form_group" style="width:200px;">
                                <label for="id_institucion">Institución:</label>
                                {{form_estudio.institucion}}
                            </div>
                        </div>
                    </div>
                    <div id="escolar-help" style="top: 360px;" class="right-block form-help-block">
                        <ul>
                            <li><b>Estado:</b> Indique el estado en el que se encuentra su educación escolar</li>
                            <li>En el caso de que haya estudiado en un colegio técnico, indique el título y la institución</li> 
                            <li><b>Título:</b></li>
                            <li><b>Institución:</b></li> 
                        </ul>
                    </div>
                    <div id="superiores-help" style="top: 600px; left: 190px;height: 238px;" class="left-block form-help-block">
                        <ul>
                            <li>Al igual que con la enseñanza escolar, indique, solo si lo desea, el estado de los estudios que posea, indicando el estado, título</li> e institución en cada caso
                            <li><b>Estado</b></li>
                            <li><b>Título</b></li>
                            <li><b>Institución</b></li>

                            <li>Botón (si posee más estudios presione aquí)</li>

                            <li>Indique si posee un grado de magister y/o doctorado, caso contrario no seleccione ninguna casilla</li>

                            <li><b>Comentario:</b> Si desea comentar sobre su desempeño o capacidades en relación a sus estudios o conocimientos puede hacerlo acá</li>
                        </ul>
                    </div>
                    <h2 id="seccion_superiores">Estudios superiores</h2>
                    <div class="pull-right special-form-pane" id="superiores">                        
                        <div id="escolar1">
                            <div class="form_group" id="lefty">
                                <label for="id_estado2">Estado:</label>
                                {{form_estudio2.estado}}
                            </div>
                        <!--</div>
                        <div id="escolar2">-->
                            <div class="form_group">
                                <label for="id_titulo2">Título:</label>
                                {{form_estudio2.titulo}}
                            </div>
                            <div class="form_group" style="width:200px;">
                                <label for="id_institucion2">Institución:</label>
                                {{form_estudio2.institucion}}
                            </div>
                        </div>
                        <!--el otro form que debe estar escondido-->
                        <div class="hidden-form" id="escolar1">
                            <div class="form_group" id="lefty">
                                <label for="id_estado3">Estado:</label>
                                {{form_estudio3.estado}}
                            </div>
                        <!--</div>
                        <div id="escolar2">-->
                            <div class="form_group">
                                <label for="id_titulo3">Título:</label>
                                {{form_estudio3.titulo}}
                            </div>
                            <div class="form_group" style="width:200px;">
                                <label for="id_institucion3">Institución:</label>
                                {{form_estudio3.institucion}}
                            </div>
                        </div>
                        <a href="#" class="plus-button btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        <div id="postgrados">
                            <div class="checkbox">
                                <label> {{form_socio.magister}} tiene magister</label>
                            </div>
                            <div class="checkbox">
                                <label> {{form_socio.doctorado}} tiene doctorado</label>
                            </div>
                        </div>
                        <div class="form_group" id="alone">
                            <label for="id_comentario">Comentario:</label>
                            {{form_socio.comentario_est}}
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row form-pane" id="other_pane">
                <div class="col-md-6 col-md-offset-2">

                    <h2 id="seccion_laboral">Experiencia laboral</h2>
                    <div class="special-form-pane" id="experiencias">
                        <div>
                            <div id="_escolar1">
                                <div class="inline_group" id="ingreso">
                                    <label for="id_desde">Desde:</label>
                                    {{form_explab.desde}}
                                </div>
                                <div class="inline_group" id="ingreso">
                                    <label for="id_hasta">Hasta:</label>
                                    {{form_explab.hasta}}
                                </div>                                
                                <div class="inline_group">
                                    <label for="id_rubro">Rubro:</label>
                                    {{form_explab.rubro}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_cargo">Cargo:</label>
                                    {{form_explab.cargo}}
                                </div>
                            </div>
                            <div id="escolar2">                            
                                <div class="form_group">
                                    <label for="id_comentario">Comentario:</label>
                                    {{form_explab.comentario}}
                                </div>                              
                            </div>
                        </div>
                        <!--el otro form-->
                        <div class="hidden-form">
                            <div id="_escolar1">
                                <div class="inline_group" id="ingreso">
                                    <label for="id_desde">Desde:</label>
                                    {{form_explab2.desde}}
                                </div>
                                <div class="inline_group" id="ingreso">
                                    <label for="id_hasta">Hasta:</label>
                                    {{form_explab2.hasta}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_rubro">Rubro:</label>
                                    {{form_explab2.rubro}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_cargo">Cargo:</label>
                                    {{form_explab2.cargo}}
                                </div>
                            </div>
                            <div id="escolar2">                            
                                <div class="form_group">
                                    <label for="id_comentario">Comentario:</label>
                                    {{form_explab2.comentario}}
                                </div>                            
                            </div>
                        </div>
                        <!--el otro form-->
                        <div class="hidden-form">
                            <div id="_escolar1">
                                <div class="inline_group" id="ingreso">
                                    <label for="id_desde">Desde:</label>
                                    {{form_explab3.desde}}
                                </div>
                                <div class="inline_group" id="ingreso">
                                    <label for="id_hasta">Hasta:</label>
                                    {{form_explab3.hasta}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_rubro">Rubro:</label>
                                    {{form_explab3.rubro}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_cargo">Cargo:</label>
                                    {{form_explab3.cargo}}
                                </div>
                            </div>
                            <div id="escolar2">
                                
                                <div class="form_group">
                                    <label for="id_comentario">Comentario:</label>
                                    {{form_explab3.comentario}}
                                </div>                            
                            </div>
                        </div>
                        <!--el otro form-->
                        <div class="hidden-form">
                            <div id="_escolar1">
                                <div class="inline_group" id="ingreso">
                                    <label for="id_desde">Desde:</label>
                                    {{form_explab4.desde}}
                                </div>
                                <div class="inline_group" id="ingreso">
                                    <label for="id_hasta">Hasta:</label>
                                    {{form_explab4.hasta}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_rubro">Rubro:</label>
                                    {{form_explab4.rubro}}
                                </div>
                                <div class="inline_group">
                                    <label for="id_cargo">Cargo:</label>
                                    {{form_explab4.cargo}}
                                </div>
                            </div>
                            <div id="escolar2">
                                
                                <div class="form_group">
                                    <label for="id_comentario">Comentario:</label>
                                    {{form_explab4.comentario}}
                                </div>                            
                            </div>   
                        </div> 
                        <a href="#" class="plus-button btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>                       
                    </div>
                    <div id="experiencias-help" style="top: 360px;" class="right-block form-help-block">
                        <p>Tu rut solo se usa para acceder, pero <strong>nadie puede verlo!</strong></p>
                        <p>Sólo tu "usuario" será visible para los demás.</p>
                    </div>
                    
                    
                </div>
            </div>  
            <div class="row form-pane" id="other_pane2">
                <div class="col-md-6 col-md-offset-2">
            
                    <h2 id="seccion_habilidades">Otras habilidades</h2>
                    <div class="special-form-pane" id="habilidades">
                        <div style="margin-bottom: 10px;">
                            <div class="inline_group">
                                <label for="id_nivel">Nivel:</label>
                                {{form_hab.nivel}}
                            </div>
                            <div class="inline_group">
                                <label for="id_habilidad">Habilidad:</label>
                                {{form_hab.habilidad}}
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" class="hidden-form">
                            <div class="inline_group">
                                <label for="id_nivel">Nivel:</label>
                                {{form_hab2.nivel}}
                            </div>
                            <div class="inline_group">
                                <label for="id_habilidad">Habilidad:</label>
                                {{form_hab2.habilidad}}
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" class="hidden-form">
                            <div class="inline_group">
                                <label for="id_nivel">Nivel:</label>
                                {{form_hab3.nivel}}
                            </div>
                            <div class="inline_group">
                                <label for="id_habilidad">Habilidad:</label>
                                {{form_hab3.habilidad}}
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" class="hidden-form">
                            <div class="inline_group">
                                <label for="id_nivel">Nivel:</label>
                                {{form_hab4.nivel}}
                            </div>
                            <div class="inline_group">
                                <label for="id_habilidad">Habilidad:</label>
                                {{form_hab4.habilidad}}
                            </div> 
                        </div>
                        <a href="#" class="plus-button btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>                             
                    </div>
                    <div id="habilidades-help" style="top: 355px;" class="right-block form-help-block">
                        <p>Tu rut solo se usa para acceder, pero <strong>nadie puede verlo!</strong></p>
                        <p>Sólo tu "usuario" será visible para los demás.</p>
                    </div> 
                </div>
            </div>         
            <div id="controls">
                <a id="prev" class="btn btn-success" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a id="next" class="btn btn-success" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <input id="final" class="btn btn-primary" type="submit" value="Registrar">
            </div>               
        </form>   
    <!--</div>
</div>-->
    
    {% block SCRIPT %}
        <script>
        $(document).ready(function() {
        
            $(".footer").css("margin-top","20px");
        });
        </script>
        <script type="text/javascript" src="{{STATIC_URL}}js/registro.js"></script>
    {% endblock %}

{% endblock %}
