{% extends 'template.html' %}
{% block title %} Resultados Busqueda | MiPega.cl {% endblock %}
{% block contenido %}
{% load bootstrap_toolkit %}
<div style="height:180px;"></div>
<div style="min-height:100px;">
  <div id="indice">Resultados totales ({{cant_resultados}})</div>

  <div class="">
    {% for r in resultados_busqueda %}
      <div class="">
          <a href="{% url 'vista_detalle_socio' r.id %}">{{r.titulo}}</a> {{r.descripcion}}
      </div>
      <br />
    {% endfor %}
  </div>
</div>
<div>
  <ul>
    {% if ant != 1 %}{% if actual != 1 %}<li><a class="nav" href="1">primero(1)</a></li>{% endif %}{% endif %}
    {% if ant >= 1 %}<li><a class="nav" href="{{ant}}">anterior({{ant}})</a></li>{% endif %}
    <li>actual({{actual}})</li>
    {% if sig != actual %}<li><a class="nav" href="{{sig}}">siguiente({{sig}})</a></li>{% endif %}
    {% if sig != ult %}<li><a class="nav" href="{{ult}}">ultimo({{ult}})</a></li>{% endif %}
  </ul>
</div>
{% endblock %}

{% block SCRIPT %}
<script type="text/javascript">
$('.nav').on('click',function(event){
  if($(this).attr('href').indexOf("?")==-1){
    event.preventDefault();
    var str = window.location.search;
    var index = str.indexOf('page=');
    if(index != -1){
      str1 = str.substring(0, index+5);
      indx2=str.substring(index+5,str.lenght).indexOf("&");
      str2 = str.substring(index+5+indx2,str.lenght);
      var aux = $(this).attr('href');
      $(this).attr('href',str1+aux+str2);
    }else{
      var aux = $(this).attr('href');
      $(this).attr('href',"?page="+aux+"&"+str.substring(1));
    }
  }
}).click();
</script>

{% endblock %}