<a id="indice" href="#" style="display: inline;">Resultados totales ({{cant_resultados}})</a>
<div class="media">
  {% for r in resultados_busqueda %}
    <!--<a class="pull-left" href="#">
      <img class="media-object" src="{{STATIC_URL}}img/avatar/avatar.png">
    </a>-->
    <div class="media-body">
        <h4 class="media-heading"><a href="#">{{r.titulo}}</a></h4>
        {{r.descripcion}}
    </div>
    <br />
  {% endfor %}
</div>
<script type="text/javascript">
    var mensaje = "{{mensaje}}";
    if (mensaje != ""){
      $.ambiance({message: mensaje, title:"Debug",
                  type: "info",timeout:4,width:200,});  
    }
    
</script>