<div class="modal fade bs-modal-sm" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form action="{% url 'vista_login' %}" method="post" id="login-form">
            <div class="modal-body">
              {% csrf_token %}
              {{FORM_LOGIN}}
              {{fo_rmLogin}}
              <div class="checkbox">
                <label>
                  <!--<input type="checkbox"> Recordarme-->
                </label>
              </div>
              <!--<button type="button" class="btn btn-primary pull-right"> Iniciar Sesión</button>-->
              <input class="btn btn-primary pill-right" type="submit" value="Iniciar Sesión">
            </div>
          </form>
        </div>
      </div>
    </div>