<div id="nav">
  <nav id="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'vista_principal' %}"><img src="{{STATIC_URL}}img/logo-mipega.png" alt=""></a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
        <ul class="nav navbar-nav navbar-right"> 
          {% if user.is_authenticated and user.is_active%}
              <li><a onclick="function(e){e.preventDefault();}">Bienvenido <strong>{{user.username}}</strong>!</a></li>
              <li><a href="{% url 'vista_editarperfil' %}">Perfil</a></li>
              <li><a href="{% url 'vista_logout' %}">Cerrar Sesión</a></li>
          {% else %}
              <li><a href="#" data-toggle="modal" data-target="#modal-login">Inicia sesión</a></li>
              <li><a href="{% url 'vista_registro' %}">Registrarse</a></li> 
          {% endif %}
          </a></li>
          <li><a href="#">¿Dudas?</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>