<section class="step" data-step="2" data-step-title="Aspiraciones">
    <div class="bs-callout bs-callout-info">
        <h3>Aspiraciones</h3>
        <p>En la presente página debe seleccionar los diferentes cargos en los que desea encontrar trabajo, los lugares geográficos donde está disponible para trabajar, sus pretenciones de renta, el tipo de contrato buscado y cargos que no se encuentren dentro del buscador proporcionado.
        Los cargos extra serán ingresados al sistema una vez que sea socio.
        </p>
    </div>

    <div class="alert alert-warning">Puede agregar tantos cargos y lugares como desee</div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Cargo/oficio/profesión buscado</label>
        <div class="col-sm-10">
            <select name="cargo" class="form-control chosen-select index-select" id="inputCargo" data-placeholder=" " multiple tabindex="6">
              {% for cargo in cargos %}
                  <option value="{{cargo.id}}">{{cargo.nombre}}</option>
              {% endfor %}
          </select>
            <span class="help-block">Seleccione de la lista los cargos, profesiones u oficios que sean de su interez</span>
        </div>
    </div>
    <div class="alert alert-info">Aquí puede ingresar los cargos que no se encuentren en la lista de cargos buscados</div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Cargos extra</label>
        <div class="col-sm-10">
            {{form_socio.cargo_extra}}
        </div>
    </div>
    <h3 class="page-header"></h3>
    
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Dónde desea trabajar</label>
        <div class="col-sm-10">
            <select name="localidad" class="chosen-select index-select" multiple tabindex="6" data-placeholder="Renca, Región de Aisen, etc.">
              <optgroup label="REGIONES">
                  {% for localidad in localidades %}
                  {% ifequal localidad.tipo "r" %}
                      <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                  {% endifequal %}
                  {% endfor %}
              </optgroup>
              <optgroup label="COMUNAS">
                  {% for localidad in localidades %}
                  {% ifequal localidad.tipo "c" %}
                      <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                  {% endifequal %}
                  {% endfor %}
              </optgroup>
          </select>
            <span class="help-block">Seleccione de la lista los lugares donde desea trabajar</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Pretenciones de renta</label>
        <div class="col-sm-10">
            {{form_socio.pretencion_renta}}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Tipo de contrato</label>
        <div class="col-sm-10">
            {{form_socio.tipo_contrato}}
        </div>
    </div>
</section>