<section class="step" data-step="4" data-step-title="Experiencia Laboral">
    <div class="bs-callout bs-callout-info">
        <h3>Experiencia Laboral</h3>
        <p>Dentro del presente formulario, puede incluir información sobre la experiencia laboral que posee en diversos cargos y rubros. Recomendamos que indique de manera detallada que realizó en cada uno de sus trabajos de manera que las empresas tengan un perfil más detallado de usted.  </p>
    </div>
    <!-- Experiencia visible -->
    <div class="form-group">
        <label for="inputPassword" class="col-sm-1 control-label">Desde</label>
        <div class="col-sm-2">
            {{form_explab.desde}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Hasta</label>
        <div class="col-sm-2">
            {{form_explab.hasta}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Rubro</label>
        <div class="col-sm-5">
            {{form_explab.rubro}}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-1 control-label">Cargo</label>
         <div class="col-sm-11">
            {{form_explab.cargo}}
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-1 control-label">Comentario</label>
         <div class="col-sm-11">
            {{form_explab.comentario}}
        </div>
    </div>

    <!-- experiencia2 -->
    <div class="experiencia2 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Desde</label>
        <div class="col-sm-2">
            {{form_explab2.desde}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Hasta</label>
        <div class="col-sm-2">
            {{form_explab2.hasta}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Rubro</label>
        <div class="col-sm-5">
            {{form_explab2.rubro}}
        </div>
    </div>
    <div class="experiencia2 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Cargo</label>
         <div class="col-sm-11">
            {{form_explab2.cargo}}
        </div>
    </div>
    <div class="experiencia2 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Comentario</label>
         <div class="col-sm-11">
            {{form_explab2.comentario}}
        </div>
    </div>

    <!-- experiencia3 -->
    <div class="experiencia3 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Desde</label>
        <div class="col-sm-2">
            {{form_explab3.desde}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Hasta</label>
        <div class="col-sm-2">
            {{form_explab3.hasta}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Rubro</label>
        <div class="col-sm-5">
            {{form_explab3.rubro}}
        </div>
    </div>
    <div class="experiencia3 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Cargo</label>
         <div class="col-sm-11">
            {{form_explab3.cargo}}
        </div>
    </div>
    <div class="experiencia3 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Comentario</label>
         <div class="col-sm-11">
            {{form_explab3.comentario}}
        </div>
    </div>

    <!-- experiencia4 -->
    <div class="experiencia3 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Desde</label>
        <div class="col-sm-2">
            {{form_explab4.desde}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Hasta</label>
        <div class="col-sm-2">
            {{form_explab4.hasta}}
        </div>
        <label for="inputPassword" class="col-sm-1 control-label">Rubro</label>
        <div class="col-sm-5">
            {{form_explab4.rubro}}
        </div>
    </div>
    <div class="experiencia3 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Cargo</label>
         <div class="col-sm-11">
            {{form_explab4.cargo}}
        </div>
    </div>
    <div class="experiencia3 form-group" style="display:none;">
        <label for="inputPassword" class="col-sm-1 control-label">Comentario</label>
         <div class="col-sm-11">
            {{form_explab4.comentario}}
        </div>
    </div>
    <button type="button" id="mas_experiencias" class="btn btn-info pull-right">Agregar trabajo <span class="glyphicon glyphicon-plus"></span></button>
</section>