<section class="step" data-step="5" data-step-title="Otras habilidades">
  <div class="bs-callout bs-callout-info">
      <h3>Otras habilidades</h3>
      <p>Felicidades, ya casi completa su registro. En el presente formulario puede ingresar habilidades relacionadas con idiomas y deportes además del grado de maestría que posee en cada una de ellas. </p>
  </div>
  <!-- habilidades visibles -->
  <h3 class="page-header">Idioma</h3>
  <div class="form-group">
      <label for="inputPassword" class="col-sm-1 control-label">Habilidad</label>
       <div class="col-sm-7">
          {{form_hab2.habilidad}}
      </div>
      <label for="inputPassword" class="col-sm-1 control-label">Nivel</label>
       <div class="col-sm-3">
          {{form_hab2.nivel}} 
      </div>                                            
  </div>

  <!-- habilidades2 -->
  <h3 class="page-header">Deportiva</h3>
  <div class="form-group">
      <label for="inputPassword" class="col-sm-1 control-label">Habilidad</label>
       <div class="col-sm-7">
          {{form_hab.habilidad}}
      </div>
      <label for="inputPassword" class="col-sm-1 control-label">Nivel</label>
       <div class="col-sm-3">
          {{form_hab.nivel}} 
      </div>                                            
  </div>

<!--   
  <div class="form-group" id="habilidades3" style="display:none;">
      <label for="inputPassword" class="col-sm-1 control-label">Habilidad</label>
       <div class="col-sm-7">
          {{form_hab.habilidad}}
      </div>
      <label for="inputPassword" class="col-sm-1 control-label">Nivel</label>
       <div class="col-sm-3">
          {{form_hab.nivel}} 
      </div>                                            
  </div>
  <button type="button" id="mas_habilidades" class="btn btn-info pull-right">Agregar cargo <span class="glyphicon glyphicon-plus"></span></button> -->
</section>